.about,
.team {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

.about-title {
    width: 90%;
    text-align: center;
    margin-bottom: 40px;
}

.two-container-information {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin: 0 auto;
}


.vision-and-business {
    margin-bottom: 76px;
}

.container-contain-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    text-align: center;

    h3 {
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.18px;
    }
}

.image-team {
    margin-bottom: 48px;
    width: 100%;
    object-fit: cover;
}

.team-informations {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 48px;
    border-top: 1px solid rgba(54, 83, 107, 25%);
    border-bottom: 1px solid rgba(54, 83, 107, 25%);

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 32px;
        text-align: center;
        padding: 16px 0;
        list-style: none;
    }

    p {
        opacity: 0.7;
        margin-bottom: 28px;
        color: var(--san-juan-blue);
    }

    span {
        font-family: 'DM Serif Display', serif;
        font-weight: 400;
        font-size: 56px;
        line-height: 72px;
        letter-spacing: -0.43px;
        color: var(--dark-pink);
    }
}

.culture-and-people {
    margin-bottom: 48px;
}

@media only screen and (min-width: 768px) {
    .container-contain-information {
        flex-direction: row;
        align-items: start;
        text-align: left;
        justify-content: start;
        gap: 0;

        h3 {
            font-size: 32px;
            line-height: 40px;
            letter-spacing: -0.25px;
            margin-right: auto;
        }

        p {
            max-width: 456px;
        }
    }

    .image-team {
        content: url("../assets/about/tablet/image-team-members.jpg");
    }

    .team-informations {
        border: none;

        ul {
            text-align: left;
            flex-direction: row;
            gap: 0;
            padding: 0;
            justify-content: space-between;
        }

        li {
            width: 32%;
            border-top: 1px solid rgba(54, 83, 107, 25%);
            border-bottom: 1px solid rgba(54, 83, 107, 25%);
            padding: 16px 0;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .about-title {
        max-width: 920px;
        text-align: left;
        margin-bottom: 52px;
    }

    .two-container-information {
        max-width: 920px;
    }

    .container-contain-information {

        p {
            max-width: 636px;
        }
    }

    .image-team {
        content: url("../assets/about/desktop/image-team-members.jpg");
    }

    .culture-and-people {
        margin-bottom: 72px;
    }

    .team-informations {
        max-width: 1100px;
    }
}