.small-h1 {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 400;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    gap: 24px;
    margin-bottom: 80px;

    input:not(input[type="checkbox"]) {
        color: var(--san-juan-blue);
        outline: none;
        padding: 16px 20px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid var(--san-juan-blue);
        opacity: 0.5;
        width: 100%;

        &:focus {
            opacity: 1;
        }

        &::placeholder {
            color: var(--san-juan-blue);
            opacity: 50%;

            &:focus {
                opacity: 1;
            }
        }
    }

    textarea {
        color: var(--san-juan-blue);
        outline: none;
        padding: 16px 20px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid var(--san-juan-blue);
        opacity: 50%;
        width: 100%;
        resize: none;

        &:focus {
            opacity: 1;
        }

        &::placeholder {
            color: var(--san-juan-blue);
            opacity: 50%;

            &:focus {
                opacity: 1;
            }
        }
    }

    .bouton-contact-form {
        max-width: 152px;
        cursor: pointer;

    }
}

.policy-confident {
    display: flex;
    align-items: center;
    gap: 26px;

    input {
        display: block;
        cursor: pointer;
        appearance: none;
        width: 24px;
        height: 24px;
        background-color: var(--san-juan-blue);
        opacity: 0.25;

        &:checked {
            margin: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--dark-pink);
            opacity: 1;

            &:before {
                content: url(../assets/shared/desktop/icon-checkbox.svg);
                color: #FFF;
            }
        }

        &:disabled {
            opacity: 0.05;
        }
    }

    label {
        cursor: pointer;
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: -0.12px;
    }
}

.contact-parteners-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 32px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 80px;
}

.image-parteners {
    svg {
        justify-self: center;
        align-self: center;
        object-fit: cover;
        max-width: none;
    }
}

@media only screen and (min-width: 768px) {
    .small-h1 {
        width: 75%;
    }

    .contact-form {
        width: 75%;
    }

    .contact-parteners-container {
        width: 75%;
    }
}

@media only screen and (min-width: 1024px) {
    .small-h1 {
        width: 100%;
        max-width: 1100px;
        text-align: left;
    }

    .contact-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 124px;
        max-width: 1100px;
        margin: 0 auto;
    }

    .contact-parteners-container {
        text-align: left;
    }
}