.feature-not-included {
    opacity: 0.5;

    &::marker {
        content: "";
    }
}

.pricing {
    text-align: center;
    margin: 0 auto;
    width: 90%;
    margin-bottom: 80px;

    h1,
    h2,
    h3 {
        font-family: 'DM Serif Display', serif;
    }

    h1 {
        margin: 0;
        letter-spacing: -0.25px;
        line-height: 36px;
        font-size: 32px;
        margin-bottom: 48px;
        font-weight: 400;
    }

    h2 {
        color: var(--dark-pink);
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.18px;
        font-weight: 400;
        margin-bottom: 16px;
    }

    h3 {
        font-size: 56px;
        line-height: 72px;
        letter-spacing: -0.43px;
        font-weight: 400;
        margin-bottom: 24px;
    }

    p {
        margin-bottom: 8px;
    }
}

.plans-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.plan-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.plan-features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: url(../assets/shared/desktop/icon-check.svg);
    text-align: left;
    gap: 8px;
    width: 100%;
    padding: 24px 35%;
    border-top: 1px solid var(--san-juan-blue);
    border-bottom: 1px solid var(--san-juan-blue);
    margin-bottom: 24px;

    li {
        font-family: "Public Sans", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: var(--san-juan-blue);
    }
}

@media only screen and (min-width: 768px) {

    .plans-section {
        flex-direction: row;
        gap: 30px;
        margin-bottom: 100px;
    }
}

@media only screen and (min-width: 1024px) {
    .pricing {
        max-width: 1100px;
        align-items: start;
        justify-content: start;
        text-align: left;
    }

    .plan-container {
        align-items: start;
        justify-content: start;
    }

    .plans-section {
        align-items: start;
        justify-content: start;
    }

    .plan-features {
        padding-left: 24px;
    }

}